<section class="home-section">
  <div class="home-container">
    <div class="text-content">
      <h1>Benvenuto su Balon.d'Or</h1>
      <p>
        Esplora il nostro assortimento di palloni unici e colorati. Da palloni
        decorativi a palloni personalizzati per occasioni speciali, Balon.d'Or
        offre una vasta gamma di opzioni di alta qualità. La tua felicità è la
        nostra missione.
      </p>
      <br /><br />
      <!--Esegue un metodo che richiama un servizio che utilizzo per passare a 'palloni' e per cambiare
        il css del link palloni nell'header
      -->
      <button class="explore-button" (click)="passaAPalloni()">
        Esplora i Palloni
      </button>
      <br /><br /><br />
      <div class="about-us">
        <h2>Chi Siamo</h2>
        <p>
          Balon.d'Or è il tuo compagno ideale per creare momenti indimenticabili
          con i nostri palloni unici. Siamo appassionati di portare allegria e
          colore nelle tue celebrazioni. Ogni pallone è scelto con cura per
          garantire la massima qualità e divertimento. Scopri il mondo dei
          palloni con Balon.d'Or!
        </p>
      </div>
    </div>
  </div>
  <br /><br /><br />
</section>
