<br /><br /><br />
<div class="sedi-container">
  <h1>Le Nostre Sedi</h1>

  <div class="sede-card">
    <h2>Sede Legale</h2>
    <p>Indirizzo: Piazza Palloncina, 456</p>
    <p>Città: Pallonopolis</p>
    <p>Referente: Laura Palloncina</p>
    <p>Orari di Lavoro: Lun-Ven 9:30 - 17:30</p>
  </div>

  <div class="sede-card">
    <h2>Sede Amministrativa</h2>
    <p>Indirizzo: Corso dei Palloni, 789</p>
    <p>Città: Balonville</p>
    <p>Referente: Giovanni Palloncini</p>
    <p>Orari di Lavoro: Lun-Ven 8:30 - 16:30</p>
  </div>

  <div class="sede-card">
    <h2>Sede Operativa</h2>
    <p>Indirizzo: Via dei Palloncini, 123</p>
    <p>Città: Città del Pallone</p>
    <p>Referente: Mario Palloncino</p>
    <p>Orari di Lavoro: Lun-Ven 9:00 - 18:00</p>
  </div>
</div>
<br /><br /><br />
