<br /><br /><br />
<div class="contatti-container">
  <h1>Contattaci</h1>

  <div class="contatti-info">
    <h2>Informazioni di Contatto</h2>

    <div class="contatti-sezione">
      <h3>Ufficio Vendite</h3>
      <p>Referente: Mario Palloncino</p>
      <p>
        Email: <a href="mailto:mario@balon-dor.com">mario di balon-dor.com</a>
      </p>
    </div>

    <div class="contatti-sezione">
      <h3>Assistenza Clienti</h3>
      <p>Referente: Laura Palloncina</p>
      <p>
        Email: <a href="mailto:laura@balon-dor.com">laura di balon-dor.com</a>
      </p>
    </div>

    <div class="contatti-sezione">
      <h3>Mail di Supporto Clienti</h3>
      <p>
        Email:
        <a href="mailto:supporto@balon-dor.com">supporto di balon-dor.com</a>
      </p>
    </div>
  </div>
  
  <div class="contatti-form">
    <h2>Invia un Messaggio</h2>
    <form>
      <label for="name">Nome:</label>
      <input type="text" id="name" name="name" required />

      <label for="email">Email:</label>
      <input type="email" id="email" name="email" required />

      <label for="message">Messaggio:</label>
      <textarea id="message" name="message" rows="4" required></textarea>

      <button type="submit">Invia Messaggio</button>
    </form>
  </div>
</div>
<br /><br /><br />
