<div class="footer">
  <div class="footer-contenuto">
    <div class="sezione-info">
      <div class="copyright">&copy; 2024 Balon.d'Or by Matteo Volpi</div>
      <div class="piva">Partita IVA: 01234567890</div>
      <div class="contatti-info">
        <a routerLink="/contatti">Contatti</a>
      </div>
      <div class="sede">
        <a routerLink="/sedi">Sedi</a>
      </div>
    </div>
    <div class="metodi-pagamenti">
      <div class="titolo-pagamento">Metodi di Pagamento:</div>
      <div class="lista-pagamenti">
        <span>Carta di Credito</span>
        <span>PayPal</span>
        <span>Bonifico Bancario</span>
      </div>
    </div>
  </div>
</div>
